<div class="container">
  <button class="btn btn-secondary mt-5" (click)="goBack()">Back to User List</button>
  <table class="mt-5 table table-striped table-bordered text-center  ">
    <thead class="table-primary ">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Job</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of favoriteUsers; let i=index">
        <td>{{i+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td [ngStyle]="{'color':user.gender === 'Male'? '#006DFA' : '#FA85AE'}">{{user.gender}}</td>
        <td>{{user.job}}</td>
        <td>{{user.address}}</td>
        <td>{{user.phoneNumber}}</td>
        <td class="px-3 py-3 d-flex justify-content-center gap-3">
          <i class="fa-solid fa-heart" [ngClass]="user.isFavorite ? 'fa-heart text-danger' :'fa-heart-o'" (click)="toggleFavorite(user)"></i>
          <i class="fa-solid fa-pen hover-green" (click)="editUser(user.id)"></i>
          <!-- <a [routerLink]="['/edit-user', user.id]" class="text-dark">
            <i class="fa-solid fa-pen hover-green"></i>
          </a> -->
          <i class="fa-solid fa-trash hover-red" (click)="deleteUser(user.id)"></i>
        </td>


    </tbody>
  </table>
</div>
